[package]
name = "fisherman"
version = "0.0.1"
edition = "2024"
authors = ["Evgeny Abramovich"]
license = "MIT"
description = "A simple CLI tool for managing git hooks"
readme = "README.md"
repository = "https://github.com/evg4b/fisherman"

[dependencies]
clap = { version = "4.5.23", features = ["derive"] }
figment = { version = "0.10.19", features = ["toml", "yaml", "json"] }
serde = { version = "1.0.217", features = ["derive"] }
dirs = "6.0.0"
git2 = "0.20.0"
regex = "1.11.1"
mockall = "0.13.1"
anyhow = "1.0.44"
thiserror = "2.0.12"
run_script = "0.11.0"
rhai = "1.21.0"
rayon = "1.10"

[dev-dependencies]
rstest = "0.25.0"
tempdir = "0.3"
assert2 = "0.3"
serde_json = "1.0.140"

[workspace.metadata.cross.target.aarch64-unknown-linux-gnu]
# Install libssl-dev:arm64, see <https://github.com/cross-rs/cross/blob/main/docs/custom_images.md#adding-dependencies-to-existing-images>
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get --assume-yes install libssl-dev:$CROSS_DEB_ARCH",
    "export PKG_CONFIG_ALLOW_CROSS=1",
    "export OPENSSL_LIB_DIR=/usr/lib/aarch64-linux-gnu",
    "export OPENSSL_INCLUDE_DIR=/usr/include"
]